# **Introduction to Python. Day 5**

## *Dr Kirils Makarovs*

## *k.makarovs@exeter.ac.uk*

## *University of Exeter Q-Step Centre*

---

# **Welcome to Day 5!**

## **By now, you should be familiar with:**

+ The overall workflow of Jupyter Notebooks in Google Colab
+ The basics of Python syntax and operations with lists
+ How to read in external datasets
+ How to navigate datasets - subsetting, accessing rows/columns
+ Operations with variables i.e. recoding, creating new variables
+ Exploratory data analysis
+ Data visualization

## **Today, you are going to work on:**

+ The final data analysis report

---

# **1. Preparing to work in Python**

In [ ]:
# Import the necessary libraries

import pandas as pd # data analysis and management library
import numpy as np # multi-dimensional arrays

# Data visualization libraries

import seaborn as sns # easy-syntax plots
import matplotlib.pyplot as plt # deep-level library used to tweak the details of the seaborn plots

## **Python Data Science Handbook by Jake VanderPlas**

<figure>
<left>
<img src=https://jakevdp.github.io/PythonDataScienceHandbook/figures/PDSH-cover.png  width="500">
</figure>

*Book is available [here](https://jakevdp.github.io/PythonDataScienceHandbook/).*

*Reproducible notebooks for the handbook are available [here](https://github.com/jakevdp/PythonDataScienceHandbook/tree/master/notebooks).*

---

# **2. Exporting Colab notebooks**

+ *Rough-and-ready PDF:* `File -> Print`

(doesn't always work though and you may lose text if it goes beyond the page limits)

+ *Exporting as HTML:* Instructions with screenshots available [here](https://stackoverflow.com/questions/53460051/convert-ipynb-notebook-to-html-in-google-colab).

    + **Step #1:** Save a copy of the notebook in `.ipynb` format onto your machine and give it a different name. For this, use `File -> Download .ipynb`
    + **Step #2:** Upload the saved notebook into the current Colab session by going to `Files` and clicking on `Upload to session storage`
    + **Step #3:** The notebook should now be visible in the root folder of `Files`. Click on three dots and get the path to the notebook
    + **Step #4:** In the current notebook, create a new code cell and paste the following piece of code:

```
%%shell
jupyter nbconvert --to html notebook_directory.ipynb
```
+ 
  + **Step #5:** Change `<notebook_directory.ipynb>` to the pathway that you got in **Step #3** and run the code cell
  + **Step #6:** The HTML file should now be visible in the root folder of `Files`. Click on three dots and download it onto your machine
  + **Step #7:** Find the HTML file on your machine and click on it. It should open in browser
  + **Step #8 (additional):** You can save HTML file as PDF by clicking `ctrl/command + P` in your browser

In [ ]:
%%shell
jupyter nbconvert --to html /content/html_Python_Day_5.ipynb

[NbConvertApp] Converting notebook /content/html_Python_Day_5.ipynb to html
[NbConvertApp] Writing 312613 bytes to /content/html_Python_Day_5.html

---

# **3. Data analysis report**

In [ ]:
# Let's upload the Pokemon dataset into the current Google Colab session

from google.colab import files

uploaded = files.upload()

Saving Data_Science_Jobs_Salaries.csv to Data_Science_Jobs_Salaries (1).csv

In [ ]:
# Here is an example of how to open a .csv dataframe in Python using Pandas library

df = pd.read_csv('Data_Science_Jobs_Salaries.csv')

df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2021e,EN,FT,Data Science Consultant,54000,EUR,64369,DE,50,DE,L
1,2020,SE,FT,Data Scientist,60000,EUR,68428,GR,100,US,L
2,2021e,EX,FT,Head of Data Science,85000,USD,85000,RU,0,RU,M
3,2021e,EX,FT,Head of Data,230000,USD,230000,RU,50,RU,L
4,2021e,EN,FT,Machine Learning Engineer,125000,USD,125000,US,100,US,S
...,...,...,...,...,...,...,...,...,...,...,...
240,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
241,2021e,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
242,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
243,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
244,2021e,SE,FT,Data Science Manager,7000000,INR,94917,IN,50,IN,L

You are going to work with the **Data Science Job Salaries Dataset**

This is a small dataset on data science job market collected in 2020 and 2021 in various countries. It containts information on 245 employees.

The dataset has the following variables:

+ **work_year**: The year during which the salary was paid
+ **experience_level**: The experience level in the job
+ **employment_type**: The type of employement for the role
+ **job_title**: The role worked in during the year
+ **salary**: The total gross salary amount paid
+ **salary_currency**: The currency of the salary
+ **salary_in_usd**: The salary in US dollars
+ **employee_residence**: Employee's primary country of residence in during the work
+ **remote_ratio**: The overall amount of work done remotely
+ **company_location**: The country of the employer's main office or contracting branch
+ **company_size**: The average number of people that worked for the company during the year

In [ ]:
df.shape # 245 observation and 11 variables

df.columns # names of the variables

df.info() # there are 2 numeric variables (salary, salary_in_usd). All other variables should be treated as categorical

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           245 non-null    object
 1   experience_level    245 non-null    object
 2   employment_type     245 non-null    object
 3   job_title           245 non-null    object
 4   salary              245 non-null    int64
 5   salary_currency     245 non-null    object
 6   salary_in_usd       245 non-null    int64
 7   employee_residence  245 non-null    object
 8   remote_ratio        245 non-null    int64
 9   company_location    245 non-null    object
 10  company_size        245 non-null    object
dtypes: int64(3), object(8)
memory usage: 21.2+ KB

In [ ]:
# (just run this cell before starting your data analysis)

# Let me clean the dataset a bit for you:

##########

# work_year variable now has two clean values: 2020 and 2021
df['work_year'].replace(['2021e'], ['2021'], inplace=True)

##########

# experience_level variable now has interpretable levels
df['experience_level'].replace(['MI', 'SE', 'EN', 'EX'],
                        ['Intermediate', 'Expert', 'Junior', 'Director'], inplace=True)

##########

# employment_type variable now has interpretable levels
df['employment_type'].replace(['FT', 'PT', 'CT', 'FL'],
                        ['Full-time', 'Part-time', 'Contract', 'Freelance'], inplace=True)

# Additionally, because of low frequencies, I combine Part-time, Contract, and Freelance into one group
df['employment_type'] = np.where(df['employment_type'].isin(['Part-time', 'Contract', 'Freelance']), 'Part-Time/Contract/Freelance', df['employment_type'])

##########

# There were quite a lot of job titles in the job_title variable who had low frequency (less than 5), so I combine them all into
# one category and give it a name of 'Other'

# Creating a list job titles for whom frequency is less than 5
jobs_low_fr = df['job_title'].value_counts()[df['job_title'].value_counts() < 5].index

# Overriding the job_title variable by saying that everyone with infrequent jobs will go into 'Other' category,
# and the rest will keep their original job titles
df['job_title'] = np.where(df['job_title'].isin(jobs_low_fr), 'Other', df['job_title'])

##########

# There were quite a lot of countries in the employee_residence variable who had low frequency (less than 7), so I combine them all into
# one category and give it a name of 'Other'

# Creating a list of countries for whom frequency is less than 7
countries_res_low_fr = df['employee_residence'].value_counts()[df['employee_residence'].value_counts() < 7].index

# Overriding the employee_residence variable by saying that everyone with infrequent countries will go into 'Other' category,
# and the rest will keep their original countries of residence
df['employee_residence'] = np.where(df['employee_residence'].isin(countries_res_low_fr), 'Other', df['employee_residence'])

##########

# remote_ratio variable now has interpretable levels
df['remote_ratio'].replace([0, 50, 100],
                        ['No remote work', 'Partially remote', 'Fully remote'], inplace=True)

##########

# There were quite a lot of countries in the company_location variable who had low frequency (less than 7), so I combine them all into
# one category and give it a name of 'Other'

# Creating a list of countries for whom frequency is less than 7
countries_loc_low_fr = df['company_location'].value_counts()[df['company_location'].value_counts() < 7].index

# Overriding the company_location variable by saying that everyone with infrequent countries will go into 'Other' category,
# and the rest will keep their original countries of residence
df['company_location'] = np.where(df['company_location'].isin(countries_loc_low_fr), 'Other', df['company_location'])

##########

# company_size variable now has interpretable levels
df['company_size'].replace(['L', 'S', 'M'],
                        ['Large', 'Small', 'Medium'], inplace=True)

In [ ]:
# Get the head of the cleaned dataset

df.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2021,Junior,Full-time,Data Science Consultant,54000,EUR,64369,DE,Partially remote,DE,Large
1,2020,Expert,Full-time,Data Scientist,60000,EUR,68428,Other,Fully remote,US,Large
2,2021,Director,Full-time,Other,85000,USD,85000,Other,No remote work,Other,Medium
3,2021,Director,Full-time,Other,230000,USD,230000,Other,Partially remote,Other,Large
4,2021,Junior,Full-time,Machine Learning Engineer,125000,USD,125000,US,Fully remote,US,Small
5,2021,Expert,Full-time,Other,120000,USD,120000,US,Fully remote,US,Medium
6,2020,Intermediate,Full-time,Research Scientist,450000,USD,450000,US,No remote work,US,Medium
7,2020,Intermediate,Full-time,Data Analyst,41000,EUR,46759,FR,Partially remote,FR,Large
8,2020,Intermediate,Full-time,Data Engineer,65000,EUR,74130,Other,Partially remote,Other,Large
9,2021,Expert,Full-time,Other,159500,CAD,127543,CA,Partially remote,CA,Large

---

# **4. Your task**

*For the final data analysis report, please:*

1. form groups of 2-3 people
2. come up with a small research question that can be answered with the help of the provided dataset (we will discuss some of the examples in class)
3. produce 2-4 tables **and** 2-4 graphs that address your research question 
4. interpret the tables and graphs that you have obtained (you don't have to write any text)
5. send your graphs and tables to k.makarovs@exeter.ac.uk either as a **single HTML file**
6. present your findings to the class and let's discuss them!

*Here is a cheetsheet with handy Python commands that you can use for the final data analysis report:*

| Command | Description |
| ------ | ----------- |
| `df['variable'].value_counts()`   | Frequency table |
| `pd.crosstab(df['variable_1'], df['variable_2']`) | Crosstab |
| `df.groupby('variable_1')['variable_2'].mean()` | Aggregated analysis|
| `sns.histplot()`, `sns.countplot()`, `sns.scatterplot()`, etc. | Seaborn graphs|
| `np.where(condition, value if True, value if False)` | Creating new variable|

Don't forget that you can also subset the dataset via `.loc[]` method if you want to focus on particular rows/columns of the dataset!

# **That's the end of Day 5!**